[submodule "tests/integration/numpy/tutorials"]
	path = tests/integration/sources/numpy-tutorials
	url = git@github.com:numpy/numpy-tutorials.git
	ignore = all
[submodule "tests/integration/pytorch/vision"]
	path = tests/integration/sources/pytorch-vision
	url = git@github.com:pytorch/vision.git
	ignore = all
[submodule "tests/sources/pytorch-tutorials"]
	path = tests/integration/sources/pytorch-tutorials
	url = git@github.com:pytorch/tutorials.git
	ignore = all
[submodule "tests/integration/sources/dask-examples"]
	path = tests/integration/sources/dask-examples
	url = git@github.com:dask/dask-examples.git
	ignore = all
