[submodule "tests/integration/numpy/tutorials"]
	path = tests/integration/sources/numpy-tutorials
	url = git@github.com:numpy/numpy-tutorials.git
	ignore = all
[submodule "tests/integration/pytorch/vision"]
	path = tests/integration/sources/pytorch-vision
	url = git@github.com:pytorch/vision.git
	ignore = all
[submodule "tests/sources/pytorch-tutorials"]
	path = tests/integration/sources/pytorch-tutorials
	url = git@github.com:pytorch/tutorials.git
	ignore = all
[submodule "tests/integration/sources/dask-examples"]
	path = tests/integration/sources/dask-examples
	url = git@github.com:dask/dask-examples.git
	ignore = all
[submodule "tests/integration/sources/tensorflow-docs"]
	path = tests/integration/sources/tensorflow-docs
	url = git@github.com:tensorflow/docs.git
	ignore = all
[submodule "tests/integration/sources/tensorflow-decision-forests"]
	path = tests/integration/sources/tensorflow-decision-forests
	url = git@github.com:tensorflow/decision-forests.git
    ignore = all
[submodule "tests/integration/sources/xgboost"]
	path = tests/integration/sources/xgboost
	url = git@github.com:dmlc/xgboost.git
        ignore = all
[submodule "tests/integration/sources/pandas_exercises"]
	path = tests/integration/sources/pandas_exercises
	url = git@github.com:guipsamora/pandas_exercises.git
    ignore = all
[submodule "tests/integration/sources/matplotlib-tutorial"]
	path = tests/integration/sources/matplotlib-tutorial
	url = git@github.com:rougier/matplotlib-tutorial.git
    ignore = all
