[tool.black]
line-length = 79
exclude = '__snapshots__'

[tool.isort]
profile = "black"
skip_gitignore = true
skip = ["__snapshots__"]
line_length = 79

[tool.coverage.run]
# Trace which side of branches were taken
# https://coverage.readthedocs.io/en/latest/branch.html#branch
branch = true
# Ignore coverage on app, since we are letting it rot
omit = ["lineapy/app/*"]
relative_files = true

[tool.mypy]

# https://docs.sqlalchemy.org/en/14/orm/extensions/mypy.html
# https://pydantic-docs.helpmanual.io/mypy_plugin/#enabling-the-plugin
plugins = ["sqlalchemy.ext.mypy.plugin", "pydantic.mypy"]


# Enable function body type checking, even if function types are not annotated
check_untyped_defs = true

# Dont check libraries without stubs
ignore_missing_imports = true

# Raise errors on ignores which we don't need
warn_unused_ignores = true


warn_unreachable = true