[tool.black]
line-length = 79
extend-exclude = '(__snapshots__|integration/slices|integration/sources|integration/envs|outputs)'

[tool.isort]
profile = "black"
skip_gitignore = true
skip = ["__snapshots__"]
skip_glob=["tests/integration/slices/*", "tests/integration/sources/*", "tests/integration/envs/*", "tests/outputs/*"]
line_length = 79

[tool.coverage.run]
# Trace which side of branches were taken
# https://coverage.readthedocs.io/en/latest/branch.html#branch
branch = true
# Ignore coverage on app, since we are letting it rot
omit = ["lineapy/app/*"]
relative_files = true

[tool.mypy]

exclude = '(/__snapshots__/|sliced_housing_dag*.py|tutorials/.*|integration/slices/.*|integration/sources/.*|integration/envs/.*|/outputs/|/build/)$'

# https://docs.sqlalchemy.org/en/14/orm/extensions/mypy.html
# https://pydantic-docs.helpmanual.io/mypy_plugin/#enabling-the-plugin
plugins = ["sqlalchemy.ext.mypy.plugin", "pydantic.mypy"]


# Enable function body type checking, even if function types are not annotated
check_untyped_defs = true

# Dont check libraries without stubs
ignore_missing_imports = true

# Do not raise errors on ignores which we don't need - hassle when supporting multiple python versions
warn_unused_ignores = false


warn_unreachable = true
