astor==0.8.1
astpretty==2.1.0
asttokens==2.0.5
black==22.3.0
click==8.1.2
isort==5.10.1
nbconvert==6.5.0
nbformat==5.3.0
networkx==2.6.3
pydantic==1.9.0
requests==2.27.1
rich==12.2.0
SQLAlchemy==1.4.35