def task_{{function_name}}({{user_input_variables}}):
{% for module in imports %}
{{module | indent(4, True) }}
{% endfor %}
{% for typing_block in typing_blocks %}
{{typing_block | indent(4, True) }}
{% endfor %}
{% for loading_block in loading_blocks %}
{{loading_block | indent(4, True) }}
{% endfor %}
{{ call_block | indent(4, True) }}
{% for dumping_block in dumping_blocks %}
{{dumping_block | indent(4, True) }}
{% endfor %}

