{% extends "base_dag.jinja" %}

{% block plugin_import_block %}
import {{ DAG_NAME }}
from airflow import DAG
from airflow.utils.dates import days_ago
from airflow.operators.python_operator import PythonOperator
{% endblock %}

{% block plugin_dag_block %}
default_dag_args = {"owner": "{{ OWNER }}", "retries": {{ RETRIES }}, "start_date": {{ START_DATE }}}

dag = DAG(
    dag_id="{{ DAG_NAME }}_dag",
    schedule_interval="{{ SCHEDULE_INTERVAL }}",
    max_active_runs={{ MAX_ACTIVE_RUNS }},
    catchup={{ CATCHUP }},
    default_args=default_dag_args,
)
{% endblock %}

{% block plugin_tasks_block %}
{% for TASK_NAME in tasks %}
{{ TASK_NAME }} = PythonOperator(
    dag=dag, task_id="{{ TASK_NAME }}_task", python_callable={{ DAG_NAME }}.{{ TASK_NAME }},
)
{% endfor %}
{% if task_dependencies is not none %}
{{ task_dependencies }}
{%endif %}
{% endblock %}

