{% extends "airflow_base_dag.jinja" %}

{% block plugin_import_block %}
import {{ MODULE_NAME }}
import pickle
import pathlib
from airflow import DAG
from airflow.utils.dates import days_ago
from airflow.operators.python_operator import PythonOperator
{% endblock %}

{% block plugin_dag_block %}
{% for TASK_DEF in task_definitions %}
{{ TASK_DEF }} 
{% endfor %}
{% endblock %}

{% block plugin_tasks_block %}

default_dag_args = {
    "owner": "{{ OWNER }}",
    "retries": {{ RETRIES }},
    "start_date": {{ START_DATE }},
{%- if (dag_params|length > 0) %}
    "params": {{ dag_params }},
{%- endif %}
}

with DAG(
    dag_id="{{ DAG_NAME }}_dag",
    schedule_interval="{{ SCHEDULE_INTERVAL }}",
    max_active_runs={{ MAX_ACTIVE_RUNS }},
    catchup={{ CATCHUP }},
    default_args=default_dag_args,
) as dag:

{% for task_name, task_def in tasks.items() %}
    {{ task_name }} = PythonOperator(
        task_id="{{ task_name }}_task",
        python_callable=task_{{ task_name }},
    {%- if task_def.user_input_variables|length > 0 %}
        op_kwargs={
        {%- for var in task_def.user_input_variables %}
            "{{ var }}": "{{ '{{' }} params.{{ var }} {{ '}}' }}"{{ ',' if not loop.last else '' }}
        {%- endfor %}
        },
    {%- endif %}
    )
{% endfor %}
{% if task_dependencies is not none %}
{% for TASK_DEPENDENCIES in task_dependencies %}
    {{TASK_DEPENDENCIES}}
{% endfor %}
{%endif %}
{% endblock %}

