from hera import Artifact, ImagePullPolicy
from hera.task import Task
from hera.workflow import Workflow
from hera.workflow_service import WorkflowService

{% for task_def in task_definitions %}
{{ task_def }}
{% endfor %}

ws = WorkflowService(
    host = "{{ HOST }}",
    verify_ssl = {{ VERIFY_SSL }},
    token = "{{ TOKEN }}",
    namespace = "{{ NAMESPACE }}",
)

with Workflow("{{ WORFLOW_NAME }}", service = ws) as w:
{% for task_name, task_def in tasks.items() %}
    {{ task_name }} = Task("{{ task_name }}",
    task_{{ task_name }},
    {% if dag_params|length > 0 and task_name not in ["setup", "teardown"] %}
    [
        {
        {% for dag_param in dag_params %}
            "{{ dag_param }}": "{{ dag_params[dag_param] }}",
        {% endfor %}
        }
    ],
    {% endif %}
    image = "{{ IMAGE }}",
    image_pull_policy = ImagePullPolicy.{{ IMAGE_PULL_POLICY }},
    {% if task_def.return_vars|length > 0 and task_name not in ["setup", "teardown"] %}
    outputs = [
        {% for output in task_def.return_vars %}
        Artifact(
            "{{ output }}",
            "/tmp/variable_{{output}}.pickle",
        ),
        {% endfor %}
    ],
    {% endif %}
)
{% endfor %}


{% if task_dependencies is not none %}
{% for TASK_DEPENDENCIES in task_dependencies %}
    {{TASK_DEPENDENCIES}}
{% endfor %}
{% endif %}

w.create()
