stages:
{% for stage in stages %}
    {{ stage["name"] }}:
        cmd: python task_{{ stage["name"] }}.py
    {%- if stage["deps"]|length > 0 %}
        deps:
        {%- for dep in stage["deps"] %}
            - {{ dep }}.pickle
        {%- endfor %}
    {%- endif %}
    {%- if stage["outs"]|length > 0 %}
        outs:
        {%- for out in stage["outs"] %}
            - {{ out }}.pickle
        {%- endfor %}
    {%- endif %}
{% endfor %}

