# Be sure to build this docker file with the following command
# docker build -t data_housing_pipeline:lineapy -f data_housing_pipeline_Dockerfile .

FROM python:{{ python_version }}

RUN mkdir /tmp/installers
WORKDIR /tmp/installers

# Copy all the requirements to run current DAG
COPY ./{{ pipeline_name }}_requirements.txt ./

# Install kubeflow python sdk
RUN apt update
RUN pip install kfp

# Install required libs
RUN pip install -r ./{{ pipeline_name }}_requirements.txt

WORKDIR /home
COPY . .

# Set environment variable so module file can be 
# found by kubeflow components
ENV PYTHONPATH=/home:${PYTHON_PATH}

ENTRYPOINT ["python", "{{ pipeline_name }}_module.py"]


