{% if module_input_parameters != '' %}
import argparse
{% endif %}

{{module_imports}}

{{artifact_functions}}

{{session_functions}}

def run_all_sessions({{module_input_parameters}}):
{{indentation_block}}artifacts = dict()
{{module_function_body}}
{{indentation_block}}return artifacts

if __name__ == "__main__":
{% if module_input_parameters != '' -%}
{{indentation_block}}parser = argparse.ArgumentParser()
{% for parser_block in parser_blocks -%}
{{indentation_block}}{{parser_block}}
{% endfor -%}
{{indentation_block}}args = parser.parse_args()
{{indentation_block}}artifacts = run_all_sessions({{parser_input_parameters}})
{% else %}
{{indentation_block}}artifacts = run_all_sessions()
{% endif %}
{{indentation_block}}print(artifacts)

