{{module_import}}

{{artifact_functions}}

{{session_functions}}

def run_all_sessions():
{{module_function_body}}
{{indentation_block}}return {{module_function_return}}

if __name__ == "__main__":
{{indentation_block}}run_all_sessions()