FROM python:{{ python_version }}

RUN mkdir /tmp/installers
WORKDIR /tmp/installers

# Copy all the requirements to run current DAG
COPY ./{{ pipeline_name }}/{{ pipeline_name }}_requirements.txt ./

# Install required libs
RUN pip install -r ./{{ pipeline_name }}_requirements.txt

WORKDIR /home
COPY . .

CMD [ "standalone" ]
