def task_{{function_name}}({{user_input_variables}}):
{% for typing_block in typing_blocks %}
{{indentation_block}}{{typing_block}}
{% endfor %}
{% for loading_block in loading_blocks %}
{{indentation_block}}{{loading_block}}
{% endfor %}
{{ call_block }}
{% for dumping_block in dumping_blocks %}
{{indentation_block}}{{dumping_block}}
{% endfor %}

