# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Airflow

on:
  push:
    branches: [main]
    paths:
      - "tests/__snapshots__/test_airflow/test_slice_airflow.py"
      - "tests/test_airflow.py"
  pull_request:
    paths:
      - "tests/__snapshots__/test_airflow/test_slice_airflow.py"
      - "tests/test_airflow.py"
jobs:
  airflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          pip install -e .[dev]
      - name: Test with pytest
        run: |
          pytest -vv -m 'airflow'
