# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python

on:
  push:
    branches: [main]
    paths:
      - "**.py"
      - "**.ipynb"
  pull_request:
    paths:
      - "**.py"
      - "**.ipynb"
concurrency:
  group: "${{ github.head_ref || github.ref }}"
  cancel-in-progress: true
jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7.11", "3.8", "3.9"]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
          submodules: "recursive"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install graphviz
        # Note: Also need to add ffmpeg to run numpy integration tests, but omitting for time
        run: sudo apt-get install -y graphviz
      - name: Install dependencies
        run: |
          pip install -r requirements.txt && python setup.py install && rm -rf build
      - name: Test with pytest
        run: |
          pytest -v
  pre-commit:
    name: ${{ matrix.id }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
        id: [black, flake8, isort, mypy]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: pre-commit/action@v2.0.3
        with:
          extra_args: ${{ matrix.id }} --all-files
